/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/


.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80vh;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

#testoAlternato{
    border: 2px solid  #666666;
    padding: 30px 100px 30px 30px;
}


@keyframes parole {
    from {
        color: transparent;
        top: -40px;
    }
    25% {
        color: #6c889c;
        top: -20px;
    }
    50% {
        color: transparent;
        top: 0px;
    }
}

#parole {
    display: flex;
    width: 400px;
    position: relative;
}

#parole i {
    position: absolute;
    left: 200px;
    color: transparent;
    animation: parole 8s linear infinite 0s;
}

#parole i:nth-child(2) {
    animation-delay: 2s;
}

#parole i:nth-child(3) {
    animation-delay: 4s;
}