.articolo{
    background-color: #fef7e2;
    width: 100%;
    border-radius: 40px;
    text-align: center;
    vertical-align: middle;
    color: #752305;
}

.articolo h3{
    padding-top: 20px;
}

.articolo p{
    font-size: 1em;
    padding-left: 10px ;
    padding-right: 20px ;
    margin-top: 0%;
}

.articolo img{
    width: 80%;
    margin-bottom: 5%;
}
